body{
    margin: 0;
    background-color: aliceblue;
}

.full-box{
    margin: 0 10%;

}

.main-heading{
    background-color: black;
    color: white;
    padding: 5px;
}
.main-heading img{
    display: inline-block;
    margin-left: 10%;
}

.heading-related{
    background-color: #64cbf6;
    padding: 5px;

}
.related1{
    box-sizing: border-box;
    display: inline-block;
    width: 30%;
    vertical-align: top;
    padding-left: 200px;
    padding-top: 20px;
        
}
.related2 h1{
    margin: 0;
}

.related2{
    box-sizing: border-box;
    display: inline-block;
    width: 69%;
    padding: 20px;
}
.active{
    background-color: black;
}

.navigation{
    background-color: #5db0d7;
    border-radius: 5px;
    color: white;
}

.navigation li{
    display: inline-block;
    margin-left: 10px;
    padding: 5px;
}

.navigation ul{ 
    margin: 0;
}

.first-content{
    padding: 5px;
    background-color: azure;
    
}

.first1{
    box-sizing: border-box;
    display: inline-block;
    width: 33%;
}


.first2{
    box-sizing: border-box;
    display: inline-block;
    width: 33%;
}

.first3{
    box-sizing: border-box;
    display: inline-block;
    width: 33%;
}

.main-content{
    padding: 5px;
    background-color: azure;

}

.main1{
     box-sizing: border-box;
    display: inline-block;
    width: 49%;
    vertical-align: top;
    float: left;
}
.main1 img{
    float: left;
    padding: 0 10px;   
}

.main2{
     box-sizing: border-box;
    display: inline-block;
    width: 50%;
    padding: 0 10px;
}

footer{
    background-color: #24536e;
    padding: 5px;
    color: white;
}










