body{
    margin: 0;
    font-family: sans-serif;
}

.navigation{
    background-color: black;
    color: white;
}
.navigation ul{
     margin: 0; 
}

.navigation li{
    display: inline-block;
    padding: 2px;

}

.side1{
    display: inline-block;
    width: 59%;
    box-sizing: border-box;
}
.side1 li{
    padding-left: 30px;
}

.side2 {
    display: inline-block;
    width: 40%;
    box-sizing: border-box;
    border: none;    
}

.full{
    margin:  1% 5%;
    
}

.main-content{
    background-color: whitesmoke;
    padding: 50px;
    
}

.main-content button{
    background-color: blue;
    padding: 5px;
    border:none;
    cursor: pointer;
    border-radius: 5px;
    
}

.main-related button{
    cursor: pointer;
    
}

.related1{
    box-sizing: border-box;
    display: inline-block;
    width: 32%;
}

.related2{
    box-sizing: border-box;
    display: inline-block;
    width: 32%;
    margin: 0% 1.6%;

}

.related3{
    box-sizing: border-box;
    display: inline-block;
    width: 32%;

}

















