body{
    margin: 0;
}


.navigation{
    background-color: black;
    color:white;
    margin-bottom: 30px;
    
}

.navigation li{
    display: inline-block;
    margin-right: 50px;
    padding: 5px;
    margin-left: -40px;
}

.main{
    box-sizing: border-box;
    display: inline-block;
    width: 74.7%;
    vertical-align: top;
}


.sidebar{
    box-sizing: border-box;
    display: inline-block;
    width: 25%;


}

.main-content{
    background-color: whitesmoke;
    padding: 100px;
}

.main-content h1{
    padding-bottom: 25px;
    color: deepskyblue;
}

.main-content ul{
    color: skyblue;
    
}

.menu{
    background-color: whitesmoke;
    padding: 80px 20px;
    margin-left: 10px;
    
}

.menu button{
    background-color: blue;
    color: white;
    border:none;
    border-radius: 5px;
}

.related1{
    box-sizing: border-box;
    display: inline-block;
    width: 33%;
}

.related2{
    box-sizing: border-box;
    display: inline-block;
    width: 33%;
    
}

.related3{
    box-sizing: border-box;
    display: inline-block;
    width: 33%;
    
}















