body{
    margin: 0;
}

.main-heading{
    background-color: #17a086;
    color: white;
    padding: 20px 0;
    
}

span{
    color: #199f84;
}

.navigation{
    background-color: #21ba9a;
    display: inline-block;
    
}
.navigation ul{
    padding: 0;
}

.navigation li{
    display: inline-block;
    padding: 8px 30px;
    
}

.navigation ul{
    margin: 0;
}

.full-box{
    margin: 5px;
}

.first-content{
    background-color: #f3f3f3;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    
    
}

.main-content{
    padding: 30px;
    
}

.main1{
    box-sizing: border-box;
    display: inline-block;
    width: 31%;
    text-align: center;
    margin: 1%;
}

.main2{
    box-sizing: border-box;
    display: inline-block;
    width: 31%;
    text-align: center;
    margin: 1%;
}

.main3{
    box-sizing: border-box;
    display: inline-block;
    width: 31%;
    text-align: center;
    margin: 1%;
}

button{
    background-color: #199f84;
    padding: 10px 20px;
    border: none;
    color: white;
    cursor: pointer;
}

.post1{
     box-sizing: border-box;
     display: inline-block;
     width: 23%;
    
}

.post2{
     box-sizing: border-box;
     display: inline-block;
     width: 23%;
    margin-left: 27.5px;
}

.post3{
     box-sizing: border-box;
     display: inline-block;
     width: 23%;
    margin-left: 27.5px;
}


.post4{
     box-sizing: border-box;
     display: inline-block;
     width: 23%;
    margin-left: 27.5px;
}

.other-post img{
    width: 320px;
}